<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <!-- Vectornav IMU -->
    <!--include file="$(find vectornav)/launch/vectornav.launch" /-->

    <!-- Ouster Lidar -->
    <!--
    <include file="$(find ouster_ros)/launch/sensor.launch">
        <arg name="timestamp_mode" value="TIME_FROM_PTP_1588" />
        <arg name="sensor_hostname" value="ouster" />
        <arg name="lidar_mode" value="512x10" />
        <arg name="viz" value="false" />
    </include>
    -->

    <!-- Velodyne lidar -->
    <!-- include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" /-->

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
